#Toolbar {
    margin: 0 auto;
    max-width: 300px;
    border-radius: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 43, 48, 0.568);
    backdrop-filter: blur(12px);;

    .Toolbar_Item {
        width: 52px;
        height: 52px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        &:hover {
            background-color: rgba(94, 92, 95, 0.781);
        };
    }
}